<h1>メッセージの編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> 

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :location %>
      <%= select_tag 'user[location]', options_for_select([["東京", "tokyo"], ["アメリカ", "america"], ["中国", "chaina"], ["世界中", "worldwide"]], @user.location), class: 'form-control' %>
     
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>