<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div class ="user_status">
      <div class="follow_infomation">
          <h3>following</h3>
          <a href = "<%= following_user_path(@user) %>">
          <%= @user.following_relationships.count %>
          </a>
      </div>
      <div class="follow_infomation">
          <h3>follower</h3>
          <a href = "<%= followers_user_path(@user) %>">
          <%= @user.follower_relationships.count %>
          </a>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= page_entries_info @microposts_pages %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts_pages %>
    <% end %>
  </div>
</div>